/* Reset some default styles for the button */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Center the button horizontally on the page */
.button-container {
    text-align: center;
    margin-top: 50px; /* Add space above the button for visual separation */
}

/* Style the rounded button */
.twitter-button {
    display: inline-block; /* Make the button a block element */
    padding: 10px 20px; /* Add padding around the text inside the button */
    background-color: #1DA1F2; /* Background color resembling Twitter */
    color: #fff; /* Text color for the button */
    font-size: 16px; /* Font size for the button text */
    border: none; /* Remove the button border */
    border-radius: 50px; /* Create rounded corners */
    text-decoration: none; /* Remove underlines from the link */
    cursor: pointer; /* Show a pointer cursor on hover */
}

/* Change button color on hover for visual feedback */
.twitter-button:hover {
    background-color: #0D91E5; /* Darker color on hover */
}

.github-button {
    display: inline-block; /* Make the button a block element */
    padding: 10px 20px; /* Add padding around the text inside the button */
    background-color: #24292d; /* Background color resembling Twitter */
    color: #fff; /* Text color for the button */
    font-size: 16px; /* Font size for the button text */
    border: none; /* Remove the button border */
    border-radius: 50px; /* Create rounded corners */
    text-decoration: none; /* Remove underlines from the link */
    cursor: pointer; /* Show a pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Change button color on hover for visual feedback */
.github-button:hover {
    background-color: #384049; /* Brighter background color on hover */
}

.github-button:active {
    background-color: #8f1968; /* Darker background color when clicked */
}

.facebook-button {
    display: inline-block; /* Make the button a block element */
    padding: 10px 20px; /* Add padding around the text inside the button */
    background-color: #400db8; /* Background color resembling Twitter */
    color: #fff; /* Text color for the button */
    font-size: 16px; /* Font size for the button text */
    border: none; /* Remove the button border */
    border-radius: 0px; /* the 0px creates a box button with no round corners as the others*/
    text-decoration: none; /* Remove underlines from the link */
    cursor: pointer; /* Show a pointer cursor on hover */
}

/* Change button color on hover for visual feedback */
.facebook-button:hover {
    background-color: #400db8; /* Darker color on hover */
}
